
  .baskeville {
    font-family: 'Libre Baskerville', serif;
  }

  .lato {
    font-family: 'Lato', sans-serif;
    
  }

  .heavy {
    font-weight: 900;
  }

  img {
    object-fit: cover;
  }
  
  .kblue {
    color: #2badc2
  }

  .hide {
    visibility: hidden;
  }
  
  .primary-front {
    z-index: 9999;
  }

  .secondary-front {
    z-index: 2;
  }

  .back {
    z-index: 1;
  }

@media screen and (min-width: 30em) {
  .dn-ns {
    display: none;
  }
}

